Play.Catalog/.vs
Play.Inventory/.vs
Play.Catalog/src/Play.Catalog.Service/bin/
Play.Catalog/src/Play.Catalog.Service/obj/
Play.Inventory/src/Play.Inventory.Service/bin/
Play.Inventory/src/Play.Inventory.Service/obj/

